<div class="jumbotron">
	<h1 class="text-center">Mongo Scraper</h1>
	<p class="text-center">Your personal Google news scraper.</p>
	<p class="text-center"><a class="btn btn-danger btn-lg" href="/index">Click here to start scraping</a></p>
</div>